<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    
    <%= image_tag "shy-panda.jpg" %>
  </div>
  
  <div class="col-md-8">
    
  <p>My name is Rachel Martinez. I enjoy working on independent project and spending time with family. I also spend a lot of time outside. Hiking, swimming, and BBQing. I hope to develop my skills while I finish up my BS degree in computer science to become a full stack developer.  </p>

  </div>
</div>