<h1>Homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<<<<<<< HEAD
<h1>Blog Posts</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>
=======
<%= @postgresql.inspect %>
>>>>>>> 79a77cfb4dce39b46dfed1b960e1de08325bf9fa
